@import "tailwindcss";

@theme {
  --color-primary: #1D4ED8;
  --color-primary-light: #E0E7FF;
  --color-secondary: #F8FAFC;
  --color-background: #F1F5F9;
  
  --color-text-main: #0F172A;
  --color-text-muted: #64748B;
  
  --color-alert-high-bg: #FEF2F2;
  --color-alert-high-border: #FCA5A5;
  --color-alert-high-text: #DC2626;
  
  --color-alert-medium-bg: #FFF7ED;
  --color-alert-medium-border: #FDBA74;
  --color-alert-medium-text: #EA580C;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}
